<ion-view view-title=" Historico" >
    <ion-content>          	
    	
    		<br/>
            <h1 class="title text-center">Historico</h1>

            <div ng-repeat="object in accounts">
                  <div class="card ">
                      <div class="item item-divider  bar bar-balanced">
                            {{object.usuarioPago}} / {{object.usuarioDebe}}
                      </div>

                        <div class="item item-text-wrap">
                              Cuenta: {{object.cantidad}}
                        </div>
                  </div>
            </div>
          
		
    </ion-content>    
</ion-view>