<ion-view view-title=" {{ 'KEY_MY_GROUP' | translate }}" >
    <ion-content>          	

        <br/>
        <h2 class="title text-center">{{ 'KEY_MY_GROUP' | translate }}</h2>

		<center>

    <div class="list card" ng-repeat="group in groups" ng-click="groupSelected(group.id, group.nombreGrupo)">
      <div class="item item-avatar">
        <img ng-if="showImage(group.foto)" src="{{group.foto}}">
        <img ng-if="showImageDefault(group.foto)" src="./img/grupo.png">
        <h2>{{group.nombreGrupo}}</h2>
        <p>{{group.fecha}}</p>
      </div>
    </div>
		
    <ion-footer-bar class="bar-dark" ng-click="openNewGroupModal()" style="cursor: pointer">
        <h1 class="title"> <i class="icon ion-ios-plus-outline"></i> {{ 'KEY_REGISTER_GROUP' | translate }}</h1>
    </ion-footer-bar>
</ion-view>

<script id="friends-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <center>
        <h1 class="title">Amigos</h1>
      </center>
      <button class="button-calm"
        ng-click="closeModal()">
        <i class="ion-arrow-left-c"></i> Back
      </button>
    </ion-header-bar>
    <ion-content>
        
        <ion-item class="item-checkbox" ng-repeat="item in friendsFacebook">
          <label class="checkbox">
            <input type="checkbox" ng-checked="item.checked" ng-model="item.checked">
          </label>    
          {{ item.name }} 
      </ion-item>

    </ion-content>
  </ion-modal-view>
</script>


<script id="new-group-modal.html" type="text/ng-template">
  <ion-modal-view ng-controller="GroupCtrl">
    <ion-header-bar>
      <center>
        <h1 class="title">{{ 'KEY_REGISTER_GROUP' | translate }}</h1>
      </center>
      <button class="button-calm"
        ng-click="closeNewGroupModal()">
        <i class="ion-arrow-left-c"></i> Back
      </button>
    </ion-header-bar>
     <ion-content>            

            <br/>
            <center>
                      <div ng-if="showImage">
                        <img class="circulo" src="./img/grupo.png" />
                      </div>
                      <div ng-if="!showImage">
                        <img class="circulo" src="{{group.foto}}" />
                      </div>
            </center>
             <br/><br/>
        
           
            <div class="list">

                      
               <label class="item item-input input-profile">
                    <span class="input-label">{{ 'KEY_NAME' | translate }}</span>
                    <input type="text" ng-model="group.nombreGrupo">
              </label>


              <div id='contrasena_e' class='error'>Contraseña invalida</div>
              <label class="item item-input input-profile">
                              <span class="input-label">{{ 'KEY_PASSWORD' | translate }}</span>
                    <input type='password'  ng-model="group.password">
              </label>

              
            <div id='contrasena_e' class='error'>Verifique contraseña</div>
            <label class="item item-input input-profile">
                            <span class="input-label">{{ 'KEY_CHECK_PASSWORD' | translate }}</span>
                  <input type='password'  ng-model="group.checkPassword">
            </label>
              

              <div id='contrasena_e' class='error'>Contraseña invalida</div>
              <label class="item item-input input-profile">
                    <span class="input-label">{{ 'KEY_LINK_URL' | translate }}</span>
                    <input type='text'  ng-model="group.foto" ng-change="changeImage()">
              </label>
              
             <br/>            

            
            <center>
              <button class= "button  button-block button-positive button-record" ng-click="saveGroup()" >{{ 'KEY_RECORD' | translate }}</button>
            </center>
            
           </div>

    </ion-content>   
  </ion-modal-view>
</script>