#map {
    width: 100%;
    height: 100%;
}

.input-value {

  padding: 2px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 83%;
  border-radius: 20px;
}

.item_multiselect {
  text-overflow: ellipsis;
  width: 83%;
  border-radius: 20px; 
  margin:  20px;
}


.button-search {
  font-size: 15px;
  width: 83% !important;
  
  border-radius: 20px;
}
