.input-register {

  padding: 2px 11px 5px 13px;
  text-overflow: ellipsis;
  width: 95%;
  border-radius: 10px;
  margin-left: 10px;
}

.button-record {
  font-size: 15px;
  width: 95% !important;  
  border-radius: 10px;
}

.item-img {
	 width: 40px;
     height: 40px;
}